<h1>Blog</h1>

<% @pages.each do |page| %>
  <%= page.title %>
  <%= link_to 'Show Page', page_path(page) %>
  <br />
<% end %>

<!-- <% %> non-echoing tag
  ruby logic

<%= %> Echoing tag
Echoing - display on page -->

<%= link_to 'New Page', new_page_path %>